.nav-btn-cs {
  color: #444;
  background-color: rgba(40, 96, 144, 0);
  border-color: #204d74;
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  transition: background .3s ease-in-out;
  padding: 6px 12px;
  font-family: inherit;
  overflow: visible;
}

@media only screen and (max-width: 991px) {
  .nav-btn-cs {
    padding: 6px 0px;
    margin-left: 0px;
  }
}

.dropdown ul li a {
  margin: 5px 0px;
}

.julio-wiki {
  padding-top: 50px;
  padding-bottom: 150px;
}

.julio-wiki li {
  margin-left: 5px;
  margin-bottom: 10px;
}

.julio-wiki .personal-img {
  max-height: 280px;
}

@media only screen and (min-width: 1200px) {
  .julio-wiki .personal-img {
    max-height: 200px;
  }
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.red {
  color: #dc0b32;
  font-weight: 600;
}

.sign-image {
  max-width: 200px;
}

.participa-header {
  font-weight: 400;
  font-size: large;
}

.m-t-90 {
  margin-top: 90px;
}
